/* Color Scheme
=============== */
$color-accent: #b5582f;

$color-accent-shade-dark: #9e4018;
$color-accent-shade-light: #b5572f95;

$color-bg-dark-0: #0f0f0f;
$color-bg-dark-1: #171717;
$color-bg-dark-2: #272727;

$color-border: #383838;

$color-text-main: #ffffff;
$color-text-secondary: #656565;
$color-placeholder: #343434;

/* Font Sizes
============= */
$font-size-heading-1: 72px;
$font-size-heading-2: 45px;
$font-size-heading-3: 30px;
$font-size-heading-4: 22px;
$font-size-heading-5: 20px;

$font-size-paragraph-md: 14px;
$font-size-paragraph-sm: 12px;
$font-size-paragraph-xm: 10px;

/* Font Weights
=============== */
$font-weights-heading-1: 900;
$font-weights-heading-2: 800;
$font-weights-heading-3: 700;
$font-weights-heading-4: 600;
$font-weights-heading-5: 500;

$font-weights-paragraph: 400;
